// Variables
$primaryHeaderFont: 'Playfair Display';
$bodyFont: 'Roboto', sans-serif;
$navFont: 'Nunito Sans', sans-serif;
$primaryColor: #E45A76;
$bodyColor: #fff;


// Basic Styles

body {
  font-family: $bodyFont;
  font-size: 16px;
  font-size: 1rem;
  background: $bodyColor;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  color: rgba(0,0,0,.6);
}

p {
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 15px;
}

a,
a:active,
a:hover,
a:visited {
  outline-width: 0;
  text-decoration: none;
}

a{
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  &:hover{
    color: $primaryColor;
  }
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

img{
  width: 100%;
  height: auto;
}


// Flexbox grid

/* Parent is .row */
.row {
  display: flex;
  flex-direction: row;
  max-width: 1040px;
  flex-basis: auto;
  margin:0 auto;
  flex-grow: 1;
  padding: 100px 0;
}

.row-top-padding{
  @extend .row;
  padding: 100px 0 0 0;
}

.row-bottom-padding{
  @extend .row;
  padding: 0 0 100px 0;
}

.row-no-padding{
  @extend .row;
  padding: 0;
}

/* Child is .col */
.col {
  flex: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex-grow: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
}



// Layout styles

.container{
  width: 100%;
}




// Large Screens

@media screen and (min-width: 1200px){
  .row {
    max-width: 1200px;
  }
}

// Portrait Tablet

@media screen and (max-width: 1024px){

  .row-top-padding{
    padding: 40px 20px 0 20px;
  }

  .row-bottom-padding{
    padding: 0 20px 40px 20px;
  }

  .row-no-padding{
    padding: 0 20px;
  }
}


// Portrait Tablet

@media screen and (max-width: 768px){
  .row, .flex-row {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2{
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
}


// Mobile

@media screen and (max-width: 480px){


}
