// Variables
$primaryHeaderFont: 'Playfair Display';
$bodyFont: 'Roboto', sans-serif;
$navFont: 'Nunito Sans', sans-serif;
$primaryColor: #E45A76;
$bodyColor: #fff;


// Basic Styles

p {
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 15px;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}

a{
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  &:hover{
    color: $primaryColor;
  }
}


h1 {
  font-family: $primaryHeaderFont;
  font-size: 2.6rem;
  line-height: 1.3;
  text-align: center;
}

h2{
  font-family: $primaryHeaderFont;
  font-size: 2.7rem;
  color: $primaryColor;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3{
  font-family: $bodyFont;
  font-size: 1.1rem;
  line-height: 1.3;
  color: $primaryColor;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

img{
  width: 100%;
  height: auto;
}

body {
  font-family: $bodyFont;
  font-size: 16px;
  font-size: 1rem;
  background: $bodyColor;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  color: rgba(0,0,0,.6);
}

// Flexbox grid

/* Parent is .row */
.row {
  display: flex;
  flex-direction: row;
  max-width: 1040px;
  flex-basis: auto;
  margin:0 auto;
  flex-grow: 1;
  padding: 100px 0;
}

.row-top-padding{
  @extend .row;
  padding: 100px 0 0 0;
}

.row-bottom-padding{
  @extend .row;
  padding: 0 0 100px 0;
}

.row-no-padding{
  @extend .row;
  padding: 0;
}

/* Child is .col */
.col {
  flex: 1;
}




// Layout styles

.wrapper{
  width: 100%;
}



@media screen and (min-width: 1200px){
  .row {
    max-width: 1200px;
  }
}

// Portrait Tablet

@media screen and (max-width: 1024px){

  .row-top-padding{
    padding: 40px 20px 0 20px;
  }

  .row-bottom-padding{
    padding: 0 20px 40px 20px;
  }

  .row-no-padding{
    padding: 0 20px;
  }
}


// Portrait Tablet

@media screen and (max-width: 768px){
  .row {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2{
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
}


// Mobile

@media screen and (max-width: 480px){


}
